<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Sou Rafael Alves, sou programador full stack</span>
            </h1>
            <p class="paragraph">
                Conheça meus projetos, habilidades técnicas e trajetória como desenvolvedor.
            </p>
            <div class="buttons">
                <a href="#about">Sobre mim</a>
                <a href="#skills">Habilidades</a>
            </div>
        </div>
    </section>
</main>