<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Sou Rafael Alves, sou programador full stack</span>
            </h1>
            <p class="paragraph">
                Conheça meus projetos, habilidades técnicas e trajetória como desenvolvedor.
            </p>
            <div class="buttons">
                <a href="#about">Sobre mim</a>
                <a href="#skills">Habilidades</a>
            </div>
        </div>
    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="assets/profile.png" alt="foto de Rafael Alves">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>programador fullStack com conhecimentos em frameworks como Angular e ASP.NET Core</h3>

                <p>Sou apaixonado por tecnologia, programação e desenvolvimento de projetos.Prezo por um código limpo e de fácil compreensão.</p>

                <p>Atuo como programador web, com domínio tanto no frontend quanto no backend.As tecnologias que eu mais domino são: <strong>C#</strong>, <strong>TypeScript</strong>, <strong>Angular</strong>, <strong>JavaScript</strong>, <strong>ASP.NET</strong> e <strong>SQL</strong>.</p>

                <p>Busco oportunidades para aplicar meus conhecimentos na pratica, adiquirir experiência e colaborar com equipes de desenvolvimentos. Possuo <strong>inglês avançado</strong> e facilidade para aprender tecnologias novas.</p>

                <p>Estou sempre aberto para conversar sobre novos projetos e oportunidades.</p>

                <a href="#contact">Entre em contato comigo!</a>
            </div>
        </div>
    </section>
</main>